# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/
.venv/

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# VSCode / JetBrains / Editors
.vscode/
.idea/

# Mac OS
.DS_Store

# PyCharm
*.iml
*.ipr
*.iws